<section class="content-detail">
  <div class="content-detail__wrapper">
    <div class="content-detail__image">
      <div class="content-detail__image-cover">
        <%= image_tag content.cover_image.url, class: 'content-detail__image-body' %>
      </div>
    </div>
    <div class="content-detail__body">
      <div class="content-detail__description">
        <ul class="content-detail__description-items">
            <li class="content-detail__description-item"><%= content.published_at.strftime("%Y.%m") %></li>
            <li class="content-detail__description-item is_sub-title"><%= content.locale("sub_title") %></li>
            <li class="content-detail__description-item"><%= content.locale("title") %></li>
        </ul>
      </div>
      <div class="content-detail__content">
        <%== content.locale('content') %>
      </div>
    </div>
  </div>
</section>
