<% @version = (local_assigns.has_key? :version) ? version: nil %>
<section class="split-block">
  <ul class="split-block__items">
    <% if @version == "info_none" %>
      <% contents.each do |content| %>
        <% content.connections.includes(:artworks).each do |connection| %>
          <% connection.artworks.each do |artwork| %>
            <li class="split-block__item">
              <div class="split-block__item-cover is_no-shadow">
                <%= image_tag artwork.image.url, class: "split-block__item-image" %>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <% contents.each do |content| %>
        <li class="split-block__item <%= @version %>">
          <%= link_to content_url(content), class: 'split-block__item-link' do %>
            <div class="split-block__item-cover">
              <%= image_tag content.cover_image.url, class: "split-block__item-image" %>
            </div>
            <%= render "blocks/split-block-#{page_location}", { content: content } %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
