<% @version = (local_assigns.has_key? :version) ? version: nil %>
<% @artworks = (local_assigns.has_key? :artworks) ? artworks: nil %>
<section class="split-block <%= "is_none-padding-side" if @version == "into-2" && controller_name == 'artists' %>">
  <ul class="split-block__items">
    <% if @version == "into-2" && controller_name == 'artists' %>
      <% contents.each do |past| %>
        <li class="split-block__item into-2">
          <div class="split-block__item-cover is_no-shadow">
            <%= link_to image_tag(past.cover_image.url, class: "split-block__item-image"), exhibition_path(past) %>
          </div>
        </li>
      <% end %>
    <% elsif @version == "info_none" %>
      <% @artworks.each do |artwork| %>
        <li class="split-block__item">
          <div class="split-block__item-cover is_no-shadow">
            <%= image_tag artwork.image.url, class: "split-block__item-image" %>
          </div>
        </li>
      <% end %>
    <% else %>
      <% contents.each do |content| %>
        <li class="split-block__item <%= @version %>">
          <%= link_to content_url(content), class: 'split-block__item-link' do %>
            <div class="split-block__item-cover">
              <%= image_tag content.cover_image.url, class: "split-block__item-image" %>
            </div>
            <%= render "blocks/split-block-#{page_location}", { content: content } %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
