<div class="global-nav">
  <div class="global-nav__logo">
    <h1 class="global-nav__logo-h1">
      <%= link_to 'STANDING PINE', root_path %>
    </h1>
  </div>
  <nav class="global-nav__body">
    <ul class="global-nav__items">
      <li class="global-nav__item"><%= link_to "EXHIBITION", exhibitions_path %></li>
      <li class="global-nav__item"><%= link_to "ARTISTS", artists_path %></li>
      <li class="global-nav__item"><%= link_to "GALLERY", gallery_path %></li>
      <li class="global-nav__item"><%= link_to "MAIL NEWS", "#" %></li>
    </ul>
    <ul class="global-nav__social-items">
      <li class="global-nav__social-item"><%= link_to icon("twitter"), "#" %></li>
      <li class="global-nav__social-item"><%= link_to icon("facebook-square"), "#" %></li>
      <li class="global-nav__social-item"><%= link_to icon("instagram"), "#" %></li>
    </ul>
    <ul class="global-nav__locate-items">
      <li class="global-nav__locate-item"><%= locale_button("ja") %></li>
      <li class="global-nav__locate-item"><%= locale_button("en") %></li>
    </ul>
    <div class="global-nav__social-dropdown">
      <label for="dropdown_on">
      <input id="dropdown_on" type="checkbox">
        <menu>
          <ul>
            <li><%= link_to icon("twitter"), "#" %></li>
            <li><%= link_to icon("facebook-square"), "#" %></li>
            <li><%= link_to icon("instagram"), "#" %></li>
          </ul>
        </menu>
      </label>
    </div>
  </nav>
</div>
