<!DOCTYPE html>
<html>
  <head>
    <%= render 'head' %>
  </head>

  <body>
    <%= render 'header' %>
    <main>
      <%= render 'sub-title', { current_page: controller_name } %>
      <%= yield %>
    </main>
    <%= render 'footer' %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyBwymJUdXFyXq9N0hpKeDQIlybgH1QtjLg&callback=initMap', async: true, defer: true %>
  </body>
</html>
