<!DOCTYPE html>
<html>
  <head>
    <%= render 'head' %>
  </head>

  <body>
    <%= render 'header' %>
    <main>
      <%= render 'sub-title', { current_page: controller_name } %>
      <%= yield %>
    </main>
    <%= render 'footer' %>
  </body>
</html>
